body {
	font-family: "Pixelify Sans", sans-serif;
	margin: 0;
	padding: 0;
	height: 100vh;
	background-image: url("/assets/bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #000000;
	padding: 10px 20px;
}

.header-left {
	flex: 1;
}

.welcome {
	font-size: 20px;
	font-weight: bold;
	margin: 0;
}

.header-right {
	justify-content: right;
}

.add-btn {
	background-color: transparent;
	border: none;
	padding: 0;
	margin: 0;
	cursor: pointer;
}

.add-btn img {
	height: 30px;
	width: 30px;
}

h1 {
	text-align: center;
	font-size: 50px;
}

.container {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.box {
	width: 300px;
	height: 200px;
	border-radius: 10px;
	margin: 20px 10px;
	background-color: rgb(118, 158, 169);
	display: inline-block;
	text-align: center;
	border: 1px solid #ddd;
	padding: 10px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	position: relative;
}

.box img {
	max-width: 100%;
	height: 150px;
	margin-bottom: 10px;
}

.box h2 {
	margin-top: 0;
	font-size: 25px;
	font-weight: normal;
}

button {
	margin-top: 10px;
	display: block;
	margin: 0 auto;
	/* font-size: 14px; */
	border: none;
	border-radius: 5px;
	/* padding: 5px 10px; */
	cursor: pointer;
}

.dots {
	position: absolute;
	top: 10px;
	right: 10px;
}

.dots button {
	background-color: transparent;
	border: none;
	padding: 5px;
	cursor: pointer;
}

.dots button img {
	background-color: white;
	width: 16px;
	height: 16px;
}

.dots div {
	position: absolute;
	top: 30px;
	right: 0;
	width: 90px;
	background-color: #fff;
	border: 1px solid #ddd;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	display: none;
	z-index: 1;
}

.dots:hover div {
	display: block;
}

.dots div button {
	display: block;
	width: 100%;
	background-color: transparent;
	border: none;
	padding: 5px;
	text-align: left;
	cursor: pointer;
}

.dots div button:first-child img {
	width: 16px;
	height: 16px;
	margin-right: 5px;
}

.dots div button:last-child img {
	width: 16px;
	height: 16px;
	margin-right: 5px;
}
